<div>
    
   <div class="main" ng-hide="adres">
    <div class="typeForm">
        <form>
         
          <div class="form-Input_Wrapper">
              <input name="names" type="text" required class="sendForm" required autofocus placeholder="Type your name"> 
              <label for="names">YOUR NAME</label>
          </div>
           
            <div class="form-Input_Wrapper">  
                <input name="email" type="email" required class="sendForm" required placeholder="Type your e-mail"> 
                <label for="email">YOUR EMAIL</label> 
            </div> <br>
            
            THEME <br> 
            <input type="text" class="sendForm" required placeholder="Type theme"> <br> <br>
            YOUR MESSAGE <br>
            <textarea placeholder="Type message"></textarea> <br> <br>
            <input type="button" value="SEND" class="sendBtn">
        </form>
    </div>
       <div class="address">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2573.1058053817446!2d24.021715415213723!3d49.84046943900932!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add7183678559%3A0xe08401b4b9b7f8e5!2z0LLRg9C70LjRhtGPINCi0LDQtNC10YPRiNCwINCa0L7RgdGC0Y7RiNC60LAsIDEyLCDQm9GM0LLRltCyLCDQm9GM0LLRltCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDc5MDAw!5e0!3m2!1suk!2sua!4v1521582592015" width="500" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>
</div>