<div>
<!--preloader  -->
<div class="loaderArea">
   <div class="loader">
   <hr/> <hr/> <hr/> <hr/></div>
</div>
<!-- -->
  <main>
   <div class="main" ng-show="main">

    <div class="first">
    <img src="images/articlecake.svg" style="width: 50px; height: 50px; float: left; padding: 10px">   
        <span class="colon"> Історія торта</span> <br>
        Важко сказати, хто, де і коли вперше здогадався до такого кулінарного шедевра як торт. На сьогоднішній день існує кілька версій. Історія цього десерту налічує приблизно 2000 років. Однак точну дату виготовлення першого торта назвати неможливо, оскільки не вирішено головне спірне питання, які продукти мають входити до складу справжнього торта.
Рецепти перших тортів включали борошно, мед, горіхи, яйця, молоко. Оскільки одним із головних інгредієнтів торта вважалося борошно, то пальму першості можна віддати Греції. Саме тут у неолітичних селах під час розкопок були знайдені торти, що були спечені з пом'ятих зерен.
За іншою версією прийнято вважати, що пра-пра-пра-дідусь першого торта був виготовлений в Італії. Недарма відоме прислів'я "про смаки не сперечаються" в італійському виконанні звучить як "про торти не сперечаються". А саме слово "торт" в перекладі з італійської означає "скрученість, звивистість". Приблизно такими кремовими візерунками і прикрашають цей десерт. Крім того, італійські кондитери називаються "тортайо", тобто виробники тортів.
   Ще одна частина істориків припускає, що своєю появою торт зобов'язаний такому знавцю солодощів як Схід. Стародавні кулінари східних країн виготовляли смачні десерти з суміші меду, молока і горіхів, які за формою нагадують сучасні тортики. А певну подобу торта було виявлено в гробниці фараона Пепіонха, що мешкав у Єгипті в 2200 році до н.е.
Але яким би не було походження торта, його подальше вдосконалення і вишуканий смак зобов'язаний майстрам-кондитерам із Франції. Саме тут, в країні кохання, романтики і десертів, одного разу з'явившись, торт підкорив увесь світ. 
    </div>
    <div class="second">
    <img src="images/articlecake.svg" style="width: 50px; height: 50px; float: left; padding: 10px">
        <span class="colon">Міжнародний день тортів</span> <br>
        Це солодке свято присвячене миру і дружби і між людьми, народами і цілими країнами. Воно й не дивно, адже складно знайти людину від малого до великого, яка б не любила торт. Всі урочистості, дні народження, ювілеї, весілля та інші свята просто немислимі без нарядних, смачних, багатоярусних, листкових, кремових, бісквітних, величезних, солодких, позитивних тортів.
Але, мабуть, головне призначення торта - це можливість бути з'їденим в урочистій і святковій обстановці за чашкою чаю в колі друзів. Тому саме торт був обраний символом дружби і миру для багатьох країн, які і вирішили відзначати Міжнародний День торта. Це свято проходить під девізом "I CAKE YOU", що означає "Я прийду до тебе з тортом". І правда, важко придумати більш доброзичливий і демократичний символ для спілкування людей, аніж торт.
   Вперше на міжнародному рівні День торта був проведений у 2011 році. Ініціатором цього солодкого і демократичного свята став "Міланський Клуб" Королівства Любові - міжнародне некомерційне співтовариство музикантів, кулінарів та інших захоплених творчих людей.
Мета свята була в поширенні по всій Землі ідей миру і дружби через культуру. Цю цікаву ініціативу підтримали багато країн СНД, а також Ізраїль і США. У цей день було спечено перший у світі спільний багатонаціональний торт, у приготуванні якого взяли участь люди з цих країн.
   Міжнародний день торта - свято молоде, але вже досить популярне. Щорічно зростає кількість країн, які беруть участь у цій солодкій традиції.
Щороку Міжнародний день торта присвячений різним темам, наприклад, космічній, любовній, казковій. А в 2016 році тема Міжнародного Дня торта звучить "Подорож у Часі".
А значить, цьогоріч ласуни і кондитери мають чудова можливість помандрувати у часі і представити на суд глядачів торти, які були популярні кілька сотень років тому.
    </div>
    </div>
    </main>
    
    
    <footer>
        <div class="foot" ng-show="foot">
            <div>
                <img src="images/footer.jpg" style="width: 150px; height: 100px">
            </div>
              <div class="textfoot">Домашня випічка, приготовлена з любов'ю!</div>
            <div>
                <img src="images/footer.jpg" style="width: 150px; height: 100px">
            </div>
        </div>
    </footer>
</div>